<div id="meu-componente">
    <audio id="MusicaPlayer" autoplay>
        <source src="" type="audio/mpeg" />
    </audio>
    <div class="player">
        <div class="info">
            <img src="https://via.placeholder.com/80x80.png?text=Album+Art" alt="Album Art">
            <div>
                <p id="nomeMusica"></p>
                <p id="nomeAuthor"></p>
            </div>
        </div>
        <div class="GeralControls">
            <div class="controls">
                <button class="fas fa-backward"></button>
                <button class="fas fa-play"></button>
                <button class="fas fa-forward"></button>
            </div>
            <div class="progress">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <div class="time" id="time">0:00 / 0:0</div>
        </div>
        
        <div class="Controls-extras">
            <div class="volume-control">
                <i onclick="MuteAudio()" class="fas fa-volume-up"></i>
                <input id="volume-slider" type="range" min="0" max="100" value="50">
            </div>
        </div>
    </div>
</div>

<script src="~/js/MusicaPlayer.js"></script>