
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.Global{
     display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
  
}

.space{
    display:flex;
    width:21%
}

.Render{
    margin-top: 5%;
    display:flex;
    width:75%;
}

    /*menu lateral*/
    .main {
        width: 75%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    #menu-lateral {
        width: 20%;
        height: 100%;
        background-color: rgb(45, 43, 43);
        position: fixed;
        left: 0;
        top: 0;
        transition: all 0.2s ease-in-out;
    }

        #menu-lateral ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #menu-lateral li {
            margin: 0;
            padding: 10px;
            border-bottom: none; /* Removido o separador entre os botões */
        }

            #menu-lateral li:first-child {
                margin-top: 20px; /* Adicionado um espaço acima do primeiro botão */
            }

            #menu-lateral li:nth-child(3) {
                margin-bottom: 20px; /* Adicionado um espaço abaixo de "Sua biblioteca" */
            }

            #menu-lateral li a {
                display: block;
                text-decoration: none;
                color: #ffffff7f;
                font-size: 16px;
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
            }

                #menu-lateral li a i {
                    margin-right: 10px;
                }

                #menu-lateral li a:hover {
                    opacity: 0.7; /* Adicionado efeito de transparência ao passar o mouse */
                }
    /*menu lateral*/
    .menu-container {
        position: fixed;
        top: 0%;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 55px;
        margin: 0;
        padding: 0 20px;
        transition: background-color 0.3s ease-in-out;
    }

    .search-form {
        display: flex;
        align-items: center;
    }

    label {
        font-size: 0;
    }

    .search-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        border-radius: 20px;
        background-color: #f2f2f2;
        transition: background-color 0.3s ease-in-out;
    }

        .search-wrapper:hover {
            background-color: #e6e6e6;
        }

    #search-input {
        font-size: 16px;
        padding: 8px 40px 8px 20px;
        border: none;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #999;
    }

        .search-icon i {
            font-size: 16px;
        }

    .user-info {
        display: flex;
        align-items: center;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
    }

    span {
        font-size: 16px;
        margin-right: 20px;
    }

    button {
        display: none;
    }






    .player {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 10%;
        background-color: rgb(45, 43, 43);
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    }

        .player img {
            width: 40px;
            height: 40px;
            margin-right: 0.5rem;
        }

        .player p {
            color: white;
            margin: 0;
            font-size: 0.5rem;
            font-weight: bold;
        }

        .player .info {
            display: flex;
            align-items: center;
        }

        .player .progress {
            height: 4px;
            width: 30%;
            background-color: #333;
            margin-top: 0.5rem;
            position: relative;
        }

        .player .progress-bar {
            height: 4px;
            width: 30%;
            background-color: #ccc;
            position: absolute;
            left: 0;
            top: 0;
        }

        .player button {
            color: white;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.0rem;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .player .controls {
            display: flex;
            align-items: center;
        }

    .time {
        color: white;
    }

    .card-wrapper {
        margin-top:10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}
@media screen and (max-width: 320px) {
    .card {
        width: 70%
    }
}
        .card img {
            width: 50px;
            height: 50px;
            border-radius: 5px 0px 0px 5px;
        }


@media screen and (max-width: 768px) {
    .card img {
        width: 80px;
        height: 80px;
    }
}



.card h2 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .card h2 {
        font-size: 14px;
        font-weight: 300;
    }
}

.player-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
    border:none;
    color: #000f;
    margin-right:10px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

        .player-btn:hover {
            transform: scale(1.1);
        }
.FromContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top:10%;
    margin-left:1%;
}
.FromContainer form{
    width:50%;
    
}