@model IEnumerable<SputnikMVc.Models.Musica>

@{
    ViewData["Title"] = "ListaMusica";
}
<div class="card-wrapper">
    @if (Model != null)
    {


        @foreach (var item in Model)
        {
            <div class="card" id="@item.Id">
                <img src="@Url.Content($"{item.PathImage}")" alt="">
                <h2>@item.Name</h2>
                <button class="player-btn" onclick="playMusica(@item.Id)"><i class="fa fa-play"></i></button>
            </div>
        }


    }

</div>

